.home{
	margin-bottom: 4rem;
}
.introduction img{
	margin-top: 8px;
	margin-bottom: 2rem;
	height: 100%;
	width: 35rem;
	float: left;
}

.intro{
	width: 40rem;
	float: left;
}
.intro h1{
	font-size: 4rem;
}
.intro p{
	font-weight: bold;
	font-size: 20px;
	color: #efefef;
	margin-bottom: 2rem;
}
.intro-email{
	margin-bottom: 2rem;
	
}
.email-input{
	border: none;
	border-radius: 4px;
	background-color: #efefef;
	height: 30px;
	width:20rem;
	margin-right: 8px;
	padding: 4px;
}
.intro-email button, .submit{
	padding: 4px;
	width: 8rem;
	height: 28px;
	border: none;
	background-color: red;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	color: #efefef;
}
.intro-email button:hover, .submit:hover{
	background-color: #efefef;
	color: red;
}



/*whatwedo*/
.WhatWeDo{
	height: 37rem;
}
.WhatWeDo h4{
	margin-top: 2rem;
}
.WhatWeDo h2{
	font-size: 2rem;
	text-align: center;
	margin: 1rem;
}
.p1{
	width: 28rem;
	margin-left: 22rem;
	text-align: center;
	margin-bottom: 2rem;
}
.containers{
	
}
.con1, .con2, .con3{
	margin: 10px;
	width: 23rem;
	float: left;
}
.con2, .con3{
	border-left: 2px solid red;
	padding-left: 1rem;
}
.containers img{
	width: 10%;
}

/*about*/

.about1 button{
	margin-top: 1rem;
}
.about h2{
	font-size: 2rem;
	margin: 1rem;
}
.about2{
	margin-bottom: 2rem;
}
.about1{
	width: 35rem;
	float: left;
	margin-right: 31px;
	margin-left: 48px;
}
.about1 p{
	margin-top: 1rem;
}
.about-img{
	width: 38%;
	float: left;
	margin-left: 50px;
	margin-right: 15px;
	margin-bottom: 4rem;

	margin-top: 1rem;
}

.advice h2{

	text-align: center;
}
.advice-content{
	padding: 2rem;
	display: flex;
	justify-content: center;
	border-radius: 1rem;
	background-image: linear-gradient(to bottom right, rgb(47, 50, 65), red);
}

/* our company*/

.company img{
	width: 38%;
	float: left;
	margin-top: 5rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
.company-content{
	margin-top: 15px;
	min-width: 30px;
	width: 35rem;
	float: left;
	margin-left:  1rem;
}
.company-content h2{
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.company-content h3, .company-content h4{
	margin: 15px;
}

/* FAQ*/
.faqs img{
	width: 38%;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 4rem;
	margin-right: 1rem;
}
.faqs-content{
	margin-top: 25px;
	width: 40rem;
	float: left;
	margin-left: 3rem;
	margin-bottom: 2rem;
	text-align: center;
}
.faqs-content p{
	margin-top: 15px;
}
.faqs-content button{
	font-size: 19px;
	color: #efefef;
	border: none;
	margin-left: 20px;
	background: none;
}
.inLine{
	display: inline;
	margin-top: 20px;
	cursor: pointer;
}
.inLine:hover{
	color: red;
}

/*footer*/
footer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 37rem;

}
footer p{
	margin-top: 1rem;
	font-size: 15px;
}
.footer-p1{
	
}

@media screen and (max-width: 767px){
  .home, .WhatWeDo, .about1, .company-content, .faqs-content, .footer{
    flex-direction: column;
    text-align: left;
    height: auto;
    width: auto;
    font-size: 15px;
  }
 
.introduction img{
	margin-top: 8px;
	width: 95%;
	margin-left: 2rem;
}

.intro h1{
	font-size: 3rem;
	width: 22rem;
}
.intro p{
	font-size: 18px;
	width: 22rem;
	margin-top: 1rem;
}
.intro-email{
	margin-bottom: 2rem;
	
}
.email-input{
	width:15rem;
}
  .p1{
  	margin-left: 0;
  	max-width: 23rem;
  }
  .con1, .con2, .con3{
	text-align: center;
}
  .con2, .con3{
	border-top: 2px solid red;
	border-left: none;
	padding-top: 1rem;
	}
	.about1{
  	margin-left: 0px;

  }
  	.intro-email button, .submit{
  		width: 6rem;
  		font-size: 14px;
  		font-weight: normal;
  	}
  	.about1 p{
  		width: 24rem;
  	}
  	.about-img{
	width: 80%;
	margin-top: 2rem;
	margin-left: 3rem;
}
	.advice-content{
		padding-top: 2rem;
		grid-gap:  1rem;
	flex-direction: column;
	justify-content: center;
	}
	.company{
		
	}
	.company-content h2{
		margin-left: 0;
		width: 22rem;
	}
	.company img{
		margin-top: 0;
	width: 90%;
	margin-left: 2rem;
}

	.faqs-content{
		font-size: 15px;
	margin-top: 25px;
	margin-left: none;
	margin-bottom: 2rem;
	}
	.faqs img{
	width: 100%;
	margin-top: 15px;
	
}
	.faqs-content button{
	font-size: 15px;
	margin-left: 10px;
}

	.inLine{
	display: inline;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	 .home, .WhatWeDo, .about1, .company-content, .faqs-content, .footer{
    text-align: center;
    height: auto;
    width: auto;
    font-size: 16px;
  }

.intro h1{
	font-size: 3rem;
	width: 42rem;
}
.intro p{
	font-size: 18px;
	width: 42rem;
	margin-top: 1rem;
}
.intro-email{
	margin-bottom: 2rem;
}
.email-input{
	margin-left: 2rem;
	width:25rem;
}
/*what we do*/
  .p1{
  	margin-left: 8rem;
  	max-width: 52rem;
  	text-align: center;
  }
  .con1, .con2, .con3{
	text-align: center;
	width: 35rem;
	margin-left: 4rem;
}
  .con2, .con3{
	border-top: 2px solid red;
	border-left: none;
	padding-top: 1rem;
	}
	.about1{
  	margin-left: 0px;

  }
  	.intro-email button, .submit{
  		width: 6rem;
  		font-size: 14px;
  		font-weight: normal;
  	}
  	.submit{
  		margin-left: 2rem;
  	}
  	.about1 p{
  		width: 42rem;
  	}
  	.about-img{
	width: 80%;
	margin-top: 2rem;
	margin-left: 4rem;
}
	.advice-content{
		padding-top: 2rem;
		grid-gap:  1rem;
	flex-direction: column;
	justify-content: center;
	}
	
	.company-content h2{
		margin-left: 0;
		width: 42rem;
	}
	.company img{
	width: 70%;
	margin-top: 0;
	margin-left: 4rem;
}
	.faqs{
		min-height: 130vh;
	}
	.faqs-content{
		font-size: 15px;
	margin-top: 25px;
	margin-left: none;
	margin-bottom: 2rem;
	}
	.faqs img{
	width: 100%;
	margin-top: 15px;
	
}
	.faqs-content button{
	font-size: 15px;
	margin-left: 10px;
}

	.inLine{
	display: inline;
	}
}