* {
  box-sizing: border-box;
}
.App{
  background-color: rgb(47, 50, 65);
  overflow: none;
  min-height: 130vh;
  max-width: 1640px;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem;
  color: #efefef;
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/
  font-size: 17px;
}
h1, h2{
  color: red;
}

